.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {margin: 0; color: #2c3e50;}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #7f8c8d;
}

.input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.inputCode {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btnSubmit {
    padding: 15px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btnCreate { background-color: #0f8941; }
.btnJoin { background: #b05b10; }

.btnBack {
    padding: 10px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #f0f0f0;
    border-radius: 6px;
}


/* Nuevos estilos */
.modeSelection {
    margin: 1.5rem 0;
    text-align: center;
}
.modeButtonsRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.modeBtn {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #576574;
    color: #c8d6e5;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.modeBtn:hover {
    border-color: #8395a7;
    color: white;
}
/* Tu paleta de colores activa para los modos */
.activeFast { background-color: #e17055; border-color: #e17055; color: white; }
.activeNormal { background-color: #0984e3; border-color: #0984e3; color: white; }
.activeCasual { background-color: #00b894; border-color: #00b894; color: white; }